.poem {list-style-type: none;
       line-height: 140%;}
nav ul li {display: inline;
           padding-left: 10px;
           padding-right: 10px;}
.source {text-decoration: none;}
table {border-collapse: collapse;}
table, th, td {border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
        text-align: center;}
img {float: left;}
#sidebar {float: right;}